<h1>
    <%= @car["name"] %>
</h1>

<h2>
    model: <em><%= @car["model"] %></em>
</h2>

<% unless @car["image"].nil? || @car["image"].empty? %> <%#this is condition%> 
   
    <img class="feature" src="<%= @car["image"] %>" alt="<%= @car["name"] %>">
<% end %>

<div class="controls">
    <a href="/cars/<%= @car["id"] %>/edit">Edit car</a>
    <a href="/cars/<%= @car["id"] %>/delete">Delete car</a>
</div>